@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-blue-primary: #00558c;
  --color-blue-secondary: #0073b1;
  --color-blue-dark: #001f59;
}

h1 {
  @apply text-5xl font-extrabold;
}
